<%= form_for([ @article, @comment ], :html => {:class => 'col-12 col-md-4 m-md-auto p-0 bg-white comment-form text-dark rounded'}) do |f| %>
  <% @comment.errors.full_messages.each do |error| %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
  <% end %>
  <div class="p-3">
    <strong><%= f.label :body, "add your comment", class: 'text-uppercase font-weight-bold' %></strong><br />
    <div class="form-group mb-2 text-left">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit 'Submit', {:class => 'w-100 text-center text-uppercase button-sign p-3 text-white'} %>
<% end %>