<div class="container-fluid welcome-form">
  <div class="row h-100">
    <%= form_for(@user, :html => {:class => 'col-12 col-md-4 m-md-auto p-0 user-form text-dark rounded'}) do |f| %>
        <% @user.errors.full_messages.each do |error| %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
        <% end %>
        <div class="p-3">
          <strong><%= f.label :name, "Create New Account" %></strong><br />
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                @
              </div>
            </div>
            <%= f.text_field :name, placeholder: "eg. emmy", class: 'form-control' %><br>
          </div>
        </div>
        <%= f.submit 'Sign Up', {:class => 'button-sign w-100 text-center text-uppercase p-3 text-white'} %>
    <% end %>

  </div>
</div>