<div class="container-fluid welcome-form">
  <div class="row h-100">
    <%= form_for(@category, :html => {:class => 'col-12 col-md-4 m-md-auto p-0 bg-white text-dark rounded'}) do |f| %>
        <% @category.errors.full_messages.each do |error| %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
        <% end %>
        <div class="p-3">
          <strong><%= f.label :name, "Name" %></strong><br />
          <div class="form-group mb-2">

            <%= f.text_field :name, placeholder: "eg. Coding", class: 'form-control' %><br>
          </div>
        </div>
        <div class="p-3">
          <strong><%= f.label :priority, "Priority" %></strong><br />
          <div class="form-group mb-2">

            <%= f.number_field :priority, class: 'form-control' %><br>
          </div>
        </div>
        <%= f.submit 'Create category', {:class => 'w-100 text-center text-uppercase button-sign p-3 text-white'} %>
    <% end %>

  </div>
</div>
